@font-face
    font-family FuturaFont
    src url('~assets/fonts/FuturaBold/FuturaBold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/FuturaBold/FuturaBold.woff') format('woff'),
        url('~assets/fonts/FuturaBold/FuturaBold.ttf')  format('truetype');
    font-weight bold
    font-style normal
