h1.title
    font-family $FuturaFont
    font-size 61px
    color whiteMain
    text-align center
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.11
    letter-spacing 1px

h2.title
    text-align center
    font-family $FuturaFont
    font-size 33px
    font-weight bold
    letter-spacing 0.7px
    color #000

h3.title
    font-family $FuturaFont
    font-size 22px
    font-weight bold
    letter-spacing 0.4px
    color #000

.text_default
    font-family $ProximaNovaFont
    font-size 16px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 0.4px
    color #000


@media only screen and (max-width 767px)
    h1.title
        font-size 50px
    h2.title
        font-size 19px
    h3.title
        font-size 14px


@media only screen and (max-width 450px)
    h1.title
        font-size 40px


