h2.title
    text-align center
    font-family $FuturaFont
    font-size 28px
    font-weight bold
    letter-spacing 0.7px
    color #000


.text_default
    font-family $ProximaNovaFont
    font-size 16px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 0.4px
    color #000
