$ContainersWidth = 80%
$ContainersWidthMobile = 100%
$defaultFonts = Arial, sans-serif
$FuturaFont = FuturaFont, $defaultFonts
$LucidaGrandeFont = LucidaGrande, $defaultFonts
$ProximaNovaFont = ProximaNova, $defaultFonts
