$ContainersWidth = 80%
$ContainersWidthMobile = 100%
$PaddingContainers = 60px
$PaddingContainersMobile = 30px
$defaultFonts = Arial, sans-serif
$FuturaFont = FuturaFont, $defaultFonts
$LucidaGrandeFont = LucidaGrande, $defaultFonts
$ProximaNovaFont = ProximaNova, $defaultFonts
