<template lang="pug">
    section(class="container")
        landing-container
</template>

<script>
import LandingContainer from '~/components/LandingContainer.vue'

export default {
  components: {
    LandingContainer
  }
}
</script>

<style>
</style>

